.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
  width: 500px;
  min-width: 300px;
  max-width: 100%;
  height: 100%;
  padding: 5%;
  border-radius: 10px;
  background-color: #eeeeee;
  border: 0.5px dashed #4d455d;

  .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  img {
    width: 60%;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      height: 50px;
      width: 150px;
      background-color: #4d455d;
      color: white;
      border: none;
      border-radius: 10px;
      margin-top: 5px;
      cursor: pointer;
    }
    :enabled {
      button:hover {
        background-color: #4d455d5d;
      }
    }
    :disabled {
      background-color: rgb(224, 221, 221);
    }
  }
  .form_container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    min-width: 50%;
    max-width: 100%;
    label {
      p {
        font-size: 15px;
        font-weight: 500;
      }
      margin-bottom: 5px;
    }
    input {
      margin: 0px 0px 10px 0px;
      outline: none;
      height: 20px;
      padding: 10px;
      width: 250px;
      border: none;
      border-radius: 10px;
    }
    .img_container {
      width: auto;
      display: flex;
      justify-content: center;
      position: relative;
      img {
        height: 100px;
        width: 100px;
      }
      .cancel_button {
        position: absolute;
        left: 62%;
        top: 0px;
        cursor: pointer;
        .MuiSvgIcon-root {
          font-size: 20px;
          color: rgb(238, 231, 231);
        }
      }
    }
    .color_container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      .color {
        height: 30px;
        width: 30px;
        border-radius: 10px;
        margin: 5px 5px;
      }
    }
    .upload_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      margin: 5px 0px;
      border-radius: 10px;
      border: 2px dashed #4d455d;
      cursor: pointer;
      .fileUpload {
        display: none;
      }
      p {
        font-size: 10px;
      }
    }
  }
}
