.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 2px solid;
    border-radius: 10px;
    p{
        font-size: 30px;
        font-weight: 700;
    }
    img{
        width: 70%;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    button{
        height: 50px;
        width: 150px;
        background-color: #0081AF;
        color: white;
        border: none;
        border-radius: 10px;

    }
    .form_container{
        display: flex;
        flex-direction: column;
        width: 50%;
        label{
            p
            {
                font-size: 15px;
                font-weight: 500;
            }
        }
        input{
            margin: 0px 0px 10px 0px;
        }
    }
}